body{
    --nave-width: 200px;
    margin: 0 0 0 var(--nave-width);
    font-family:  sans-serif;
    font-size: 20px;

}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nave-width);
    height: 100vh;
    background-color: #222222;
}

.nav__link{
    display: block;
    padding: 12px, 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
margin-top: 5px;
}

.nav__link:hover{
    background: rgba(233, 5, 5, 0.05);

}
#app{
    margin: 2em;
    line-height: 1.5;
    font-weight: 400;
}

a{
    color: rgb(20, 228, 158);
}